body, input, td, th, h1, h2, h3, h4, h5, h6
  font-family: "Helvetica Neue", helvetica, verdana, arial

body
  line-height: 1.5em
  font-size: 1.5em

#container
  width: 930px
  min-height: 700px
  margin: 0 auto
  > #statsbox
    height: 450px

#stats, #graph, #keys
  margin: 0 0
  float: left
  top: 0px

#stats
  width: 440px
  min-height: 600px
  border-top: 5px solid black
  border-left: 5px solid black
  border-bottom: 5px solid black
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  background-color: black
  color: white
  padding-left: 15px
  padding-top: 15px

#keys
  width: 900px
  overflow: auto
  border: 5px solid black
  border-top-right-radius: 10px
  border-top-left-radius: 10px
  background-color: black
  color: white
  padding-left: 15px
  padding-top: 15px

.full
  height: 600px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

.half
  height: 320px

#results
  width: 900px
  height: 280px
  overflow: auto
  border: 5px solid #ccc
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  background-color: #ccc
  color: black
  padding-left: 15px
  padding-top: 10px
  margin-bottom: 50px
  position: relative

.hidden
  display: none

#results > #current_key
  position: fixed
  word-wrap: break-word
  width: 870px
  background-color: inherit
  z-index: 99

#graph
  width: 445px
  height: 600px
  border-top: 5px solid rgb(51, 51, 51)
  border-right: 5px solid rgb(51, 51, 51)
  border-bottom: 5px solid rgb(51, 51, 51)
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  background-color: rgb(51, 51, 51)
  padding-top: 15px
  padding-right: 15px

h2
  margin-bottom: 0px
  color: rgb(102, 102, 102)
  font-family: "Myriad Pro", "Helvetica Neue", helvetica
  font-weight: bold

#container > h1
  margin-top: 40px
  margin-bottom: 20px
  font-weight: bold
  font-size: 1.75em

#container > h3
  margin-top: 40px
  margin-bottom: 20px
  font-weight: bold
  font-size: 1.25em

h1, h3
  margin-top: -5px
  margin-bottom: 25px
  font-family: "Kozuka Gothic Pro", "Helvetica Neue", helvetica
  font-weight: normal

h3
  font-size: 0.8em
  margin-bottom: 15px
  word-wrap: break-word

h3 > a
  color: white
  text-decoration: none

h3 > a:hover
  color: #ccc
  border-bottom: 1px dotted #ccc
  font-weight: bold

h5, h6
  font-size: 0.6em

h5
  font-weight: bold
  margin-top: 15px
  margin-bottom: 5px

h6
  margin-top: -20px

#header
  background-color: #000
  position: fixed
  height: 165px
  z-index: 99

#keyring
  position: relative
  top: 165px
  word-wrap: break-word
  overflow: auto

.info
  position: fixed
  width: 250px

.data
  left: 250px
  width: 625px
  position: relative

.data > h6
  display: block
  word-wrap: break-word
  overflow: scroll

pre, #search, .data > h6
  font-family: "Andale Mono", "Monaco", "Courier New"

pre, #search
  font-size: 0.8em

#search
  font-size: 1.2em

h2#lessmargin
  margin-top: 20px
