%h1{ :id => 'hostname' }= @server[:hostname]
#statsbox
  #stats
    %div
      %h2 Uptime
      %h1#uptime= @server[:uptime]
    %div
      %h2 Memory
      %h1#memory= @server[:memory][:summary]
    %div
      %h2 # of Commands
      %h1#commands= @server[:commands]
    %div
      %h2 Memory Fragmentation
      %h1#fragment= @server[:fragment]
    %div
      %h2 # of Keys
      %h1#keycount= @server[:keys]
  #graph

:javascript
  $('document').ready(function() {
    var r = Raphael('graph');
    var data = "#{pie_values(@server[:memory])}".split(',');
    for (idx in data) {
      data[idx] = parseInt(data[idx], 10);
    }
    r.g.txtattr.font = "16px 'Kozuka Gothic Pro'";
    r.g.text(230, 10, "Memory").attr({ fill: 'white', 'font-size': 20, 'font-weight': 'bold' });
    pie = r.g.piechart(230, 195, 160, data, { legend: [ 'Fragmented: %%', 'Used: %%', 'Free: %%' ], legendpos: 'south', legendcolor: 'white' });
    pie.hover(function() {
      this.sector.stop();
      this.sector.scale(1.1, 1.1, this.cx, this.cy);
      if (this.label) {
        this.label[0].stop();
        this.label[0].scale(1.25);
        this.label[1].attr({ 'font-weight': 'bold', hue: 10 });
      }
    }, function() {
      this.sector.animate({ scale: [1, 1, this.cx, this.cy] }, 2000, 'elastic');
      if (this.label) {
        this.label[0].animate({ scale: 1 }, 2000, 'elastic');
        this.label[1].attr({ 'font-weight': 'normal', hue: 100 });
      }
    });
  });
