%h1{ :id => 'hostname' }= @hostname
#statsbox
  #keys{ :class => 'full' }
    #searching
      #header
        %h2 Keys
        %div
          %form{ :method => 'post', :action => "/k.search/#{@hostname}" }
            %input#search{ :type => 'text', :size => 50, :name => 'search' }

        %h2#lessmargin
          Displaying 
          %span#start= 1
          to
          %span#limit= 10
          of
          %span#total= @total
        %br

      #keyring
        - @keys.each do |key|
          %h3
            %a{ :href => "/k/#{@hostname}/#{key}" }
              #{key}

  #results{ :class => 'hidden' }
    %span#current_key= 'Hello.'
    %br

%script#keyInfoTemplate{ :type => 'text/x-query-tmpl' }
  %div.info
    %h5 Type
    %h6 ${type}

    %h5 Size
    %h6 ${size}

    %h5 Time to Live
    %h6 ${ttl}

  %div.data
    %h5 Data
    %h6 ${data}

:javascript
  $(document).ready(function() {
    $.template('keyTemplate', '<h3><a href = "{{= $data}}">{{= $data}}</a></h3>');

    $('#search').live('keyup', function() {
      $.getJSON(window.location.href.replace('/k/', '/k.srch/'), { 'search': $('#search').val(), 'limit': 10, 'start': 0 }, function(data) {
        // remove all previous search results
        $('h3').remove();

        // set pagination info
        $('#start').html(data.start + 1);
        $('#limit').html(data.limit);
        $('#total').html(data.total);

        // load search results
        $.tmpl('keyTemplate', data.keys).appendTo('#keyring');
      });
    });

    $('#keyring > h3 > a').live('click', function(e) {
      e.preventDefault();
      $('#results > #current_key').html(this.text);
      $('#keys').removeClass('full').addClass('half');
      $('#results').removeClass('hidden');

      $.getJSON(window.location.href.replace('/k/', '/k.info/'), { 'key': this.text }, function(data) {
        // remove previous data
        $('.info').remove();
        $('.data').remove();

        // load new data
        $('#keyInfoTemplate').tmpl(data).appendTo('#results');
      });
    });
  });
