!!!
%html
  %head
    %title redis statistics
    %link{ :href => '/css/reset.css', :rel => 'stylesheet' }
    %link{ :href => '/css/default.css', :rel => 'stylesheet' }
    %link{ :href => '/css/scrollbar.css', :rel => 'stylesheet' }
    %link{ :href => '/css/formalize.css', :rel => 'stylesheet' }
    %script{ :src => '/js/jquery/jquery-1.6.2.min.js' }
    %script{ :src => '/js/jquery.formalize.min.js' }
    %script{ :src => '/js/jquery.tmpl.min.js' }
    %script{ :src => '/js/raphael/raphael-min.js' }
    %script{ :src => '/js/raphael/g.raphael-min.js' }
    %script{ :src => '/js/raphael/g.pie-min.js' }
  %body
    #container
      =yield
