#keys::-webkit-scrollbar
  background-color: #000

#keys::-webkit-scrollbar-thumb
  background-color: #333
  border-radius: 5px
  height: 2px

#results::-webkit-scrollbar
  background-color: #ccc

#results::-webkit-scrollbar-thumb
  background-color: #999
  border-radius: 10px

